#main {
  display: flex;
  gap: 5px;
}

#main > div {
  flex-basis: 30%;
  border: 1px solid black;
  min-height: 100px;
}

.hidden {
  visibility: hidden;
  width: 0;
  height: 0;
}

#userOrderInfo {
  border: 1px solid greenyellow;
  display: flex;
  visibility: hidden;
}

#userOrderInfo div {
  flex-basis: 30%;
}

.totalPrice {
  font-weight: 600;
  margin-top: 16px;
}

.totalPrice span {
  font-weight: 100;
}

#error {
  color: red;
}

#myOrdersLines span{
  margin-right: 10px;
}

.orderLineStyle {
  border: 1px solid black;
  margin: 15px 0 15px;
  padding: 5px 0 5px;
}