.apartmentForm {
    /*display: flex;*/
}
.def-div {
    width: 500px;
    padding: 15px 5px;
    margin: 5px;
}

.ap-div {
    border: 1px solid black;
}

.re-div {
    border: 1px solid orange;
}

#infoContainer .apartment{
    border: 1px solid green;
}