header {
  background-color: #333;
  color: white;
  //position: fixed;
  //top: 0;
  //left: 0;
  width: 100%;

  div {
    max-width: 1200px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 70px;
    }
  }
}

.nav_list {
  list-style: none;
  display: flex;
  /*align-items: center;*/

  li {
    margin-left: 15px;

    a {
      color: navajowhite;
      text-decoration: none;
    }
  }
}